.wrapper {
  display: flex;
  align-items: center;
}

.loading {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: center;
}

.ripple {
  composes: ripple from '~Components/Loading/LoadingIndicator.css';

  border: 2px solid var(--toolbarColor);
}

.input {
  margin-left: 8px;
  width: 200px;
  border: none;
  border-bottom: solid 1px var(--white);
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  color: var(--white);
  transition: border 0.3s ease-out;

  &::placeholder {
    color: var(--white);
    transition: color 0.3s ease-out;
  }

  &:focus {
    outline: 0;
    border-bottom-color: transparent;

    &::placeholder {
      color: transparent;
    }
  }
}

.container {
  position: relative;
  flex-grow: 1;
}

.artistContainer {
  @add-mixin scrollbar;
  @add-mixin scrollbarTrack;
  @add-mixin scrollbarThumb;
}

.containerOpen {
  .artistContainer {
    position: absolute;
    top: 42px;
    z-index: 1;
    overflow-y: auto;
    min-width: 100%;
    max-height: 230px;
    border: 1px solid var(--themeDarkColor);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--themeDarkColor);
    box-shadow: inset 0 1px 1px var(--inputBoxShadowColor);
    color: var(--menuItemColor);
  }
}

.list {
  margin: 5px 0;
  padding-left: 0;
  list-style-type: none;
}

.listItem {
  padding: 0 16px;
  white-space: nowrap;
}

.highlighted {
<<<<<<< HEAD:frontend/src/Components/Page/Header/ArtistSearchInput.css
  background-color: $primaryHoverBackgroundColor;
=======
  background-color: var(--themeLightColor);
>>>>>>> 2291f3e00 (New: Native Theme Engine):frontend/src/Components/Page/Header/SeriesSearchInput.css
}

.sectionTitle {
  padding: 5px 8px;
  color: var(--disabledColor);
}

.addNewArtistSuggestion {
  padding: 0 3px;
  cursor: pointer;
}

@media only screen and (max-width: $breakpointSmall) {
  .input {
    min-width: 150px;
    max-width: 200px;
  }

  .container {
    min-width: 0;
    max-width: 200px;
  }
}
