.status {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 60px;
}

.monitorToggle {
  composes: toggleButton from '~Components/MonitorToggleButton.css';

  margin: 0;
  width: 20px !important;
}

.statusIcon {
  width: 20px !important;
  text-align: center;
}
