.title {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-word;
}

.monitored {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 42px;
}

.status {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}
